<app-spinner></app-spinner>
<div class="mb-5">
   <app-navbar></app-navbar>
</div>

<div class="app-content">
   <div class="centered-div p-5 border-secondary bg-secondary border-rounded">
      <div class="row">
         <div class="col-md-6">
            <div class="border border-rounded py-5 d-flex justify-content-center align-content-center">
               <video id="video" autoplay style="display: none;"></video>
               <canvas id="canvas" width="700px" height="700px"></canvas>
               <canvas id="faceCanvas" width="300px" height="300px" style="display: none;"></canvas>
            </div>
         </div>
         <div class="col-md-6 row d-flex justify-content-center align-content-around">
            <div class="col-lg-12 my-5">
               <h4 class="col-md-12 text-center">{{ cameraMessage }}{{ cameraWarning }}{{ countDownMessage }}</h4>

                     <!-- display the emotion smaple -->
               <div *ngIf="isExpressionDisplayed">
                  <img id="expressionSample" [src]="faceExpressionImageBaseUrl+faceExpressionImageFile">
               </div>
               <p>{{expressionMessage}}</p>



               <!-- display the captures photo -->
               <div *ngIf="isQuestionFormDisplayed">
                  <img id="outputImage" [src]="dataUrl">
                  <p>Are you satisfied with this picture?</p>

                  <!-- there should be no yes button -->
                  <!-- <button class="btn btn-danger btn-md mr-2" (click)="saveFace()">Yes</button> -->
                  <!-- yes is satisfied then save it-->
                  <button class="btn btn-danger btn-md mr-2" (click)="startVideoAgain()">No</button>
                  <!-- no if not satisfied, deletes the photo ang start over again (take another photo)-->
               </div>
               <!-- this is to display the captures photo of the expression -->



               <!-- this part displays all the captures photo of the subject (8 photo in total since there are 8 expressions) display this with horizontal scroll bar -->
               <div *ngIf="facesToTrain?.length != 0 || facesToTrain != null">
                  <div class="scrollable-widget" style="overflow-x: auto;">
                     <div *ngFor="let face of facesToTrain">
                        <div class="row" style="max-height: 400px; max-width:300px;">
                           <img class="border border-rounded col-sm-12 mb-3"
                              [src]="faceToTrainImageBaseUrl + currentPerson.id + '/' + face.imageFile">

                           <button type="button" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal"
                              class="btn btn-danger btn-md mr-2 col-sm-12"
                              (click)="getFaceToDelete(face)">Delete</button>
                        </div>


                        <!-- each photo contains a delete button to delete the picture -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="deleteModelLabel">Delete Face Image</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                  </button>
               </div>
               <div class="modal-body">
                  <p>Are you sure you want to delete these face image?</p>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                     <button (click)="onDeleteFace(deleteFace.id!)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                  </div>
               </div>
            </div>
         </div>
       </div>

   </div>

   <router-outlet></router-outlet>
