<form #resetPasswordForm="ngForm">
  <!-- <input type="hidden" ngModel="{{ employee.employeeIdNumber}}" name="employeeIdNumber" id="employeeIdNumber" required> -->

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" ngModel name="password" class="form-control" id="password" required>
 </div>

  <div class="modal-footer">
    <button (click)="onResetPassword(resetPasswordForm)" [disabled]="resetPasswordForm.invalid" class="btn btn-primary" >Save changes</button>
  </div>
  </form>
