<app-spinner></app-spinner>
<app-navbar></app-navbar>

<div class="container my-5" id="main-container">
  <div>
    <form #filterDateForm="ngForm">
      <div class="form-group">
        <label for="timeLog">startDate</label>
        <input type="date" [(ngModel)]="startDate" name="startDate" id="startDate" required>
     </div>
     <div class="form-group">
      <label for="timeLog">endDate</label>
      <input type="date" [(ngModel)]="endDate" name="endDate" id="endDate" required>
   </div>

      <div >
        <button (click)="removeDateFilter()">Remove Filter</button>
        <button (click)="getLogsBetweenDates(filterDateForm)" [disabled]="filterDateForm.invalid || startDate >= endDate">Save changes</button>
      </div>
      </form>
  </div>
  <h1 class="mb-3">Attendance Logs</h1>
  <table class="table" *ngIf="logs && logs.length > 0">
    <thead>
      <tr>
        <th><button (click)="ToggleFilter()">Filter</button></th>
        <th>Image</th>
        <th>timeLog</th>
        <th>attendanceLogTypeName</th>
        <th>attendanceLogStatusName</th>
        <th>employeeIdNumber</th>
        <th>employeeName</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="doFilter">
        <tr>
          <td></td>
          <td></td>
          <td><input type="date" [(ngModel)]="timeLogFilter"></td>
          <td><input type="text" [(ngModel)]="attendanceLogTypeNameFilter"></td>
          <td><input type="text" [(ngModel)]="attendanceLogStatusNameFilter"></td>
          <td><input type="text" [(ngModel)]="employeeIdNumberFilter"></td>
          <td><input type="text" [(ngModel)]="employeeNameFilter"></td>
        </tr>
      </ng-container>
      <tr *ngFor="let log of filteredLogs">
        <td></td>
        <td><img style="height:80px;width:100px;" [src]="imageBaseUrl+log.imageName" alt=""></td>
        <td>{{ log.timeLog }}</td>
        <td>{{ log.attendanceLogTypeName }}</td>
        <td>{{ log.attendanceLogStatusName }}</td>
        <td>{{ log.employeeIdNumber }}</td>
        <td>{{ log.employeeName }}</td>
      </tr>
    </tbody>
  </table>
