

<app-spinner></app-spinner>

<div class="mb-5">
  <app-navbar></app-navbar>
</div>

<div class="app-content">
  <div class="centered-div p-5 border-secondary bg-secondary border-rounded">
    <div class="row">
      <div class="col-md-6">
        <div class="border border-rounded py-5 d-flex justify-content-center align-content-center">
          <video id="video" autoplay style="display: none;"></video>
          <canvas id="canvas" width="700px" height="700px"></canvas>
<canvas id="faceCanvas" width="300px" height="300px" style="display: none;"></canvas>
        </div>
      </div>
      <div class="col-md-6 row d-flex justify-content-center align-content-around">
        <div class="col-lg-12 my-5">
          <h4 class="col-md-12 text-center">{{ cameraMessage }}{{ cameraWarning }}<span
              *ngIf="!isQuestionFormDisplayed">{{ countDownMessage }}</span></h4>
          <div *ngIf="isQuestionFormDisplayed">
            <div class="mb-3 form-check row d-flex align-content-center" *ngIf="(predictedPerson)">
              <div class="col-md-6">
                <img id="outputImage" alt="asdf" [src]="snapshotFaceDataUrl">
              </div>
              <div class="col-md-6 flex justify-content-around">
                <h4>Is this you,{{predictedPerson.firstName}} {{predictedPerson.lastName}}?</h4>
                <h5>{{ countDownMessage }}</h5>
                <button class="btn btn-danger" (click)="wrongPrediction()">No</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isLoginFormDisplayed">
          <form #attendanceForm='ngForm' (ngSubmit)="onAttendance(attendanceForm)">
            <div class="form-group col-md-4">
              <label>Id Number</label>
              <input class="form-control" required ngModel name="employeeIdNumber">
            </div>

            <div class="form-group col-md-4">
              <label>Password</label>
              <input class="form-control" required type="password" ngModel name="password">
            </div>

            <div class="form-group col-md-4">
              <a href="">Forgot Password</a>
            </div>

            <div class="form-group col-md-4">
              <button [disabled]="!attendanceForm.valid" type="submit" class="btn btn-primary">Login</button>
              <button type="button" class="btn btn-secondary ml-2" (click)="onCancelForm()">Cancel</button>
            </div>
          </form>
        </div>



      </div>













    </div>
  </div>

  <router-outlet></router-outlet>
